<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <!-- Configuration -->
    <bean id="brokerService" class="org.apache.activemq.broker.BrokerService" init-method="start" destroy-method="stop">
        <property name="brokerName" value="broker" />
        <property name="persistent" value="false"/>
        <property name="transportConnectorURIs">
            <list>
                <value>tcp://localhost:6616</value>
            </list>
        </property>
    </bean>

    <bean id="activeMQConnectionFactory"
          class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="vm://broker" />
    </bean>

<!--    <bean id="queue" class="org.apache.activemq.command.ActiveMQQueue">-->
<!--        <constructor-arg value="standalone.queue" />-->
<!--    </bean>-->

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="defaultDestinationName" value="standalone.queue"/>
        <property name="connectionFactory" ref="activeMQConnectionFactory" />
    </bean>

    <bean id="container" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="activeMQConnectionFactory" />
        <property name="destinationName" value="standalone.queue"/>
        <property name="messageListener" ref="messageReceiver"/>
    </bean>

    <!-- Service -->
    <bean id="messageReceiver" class="service.MessageReceiver" >
        <constructor-arg ref="messageBody"/>
        <constructor-arg ref="messageHeader"/>
    </bean>

    <bean id="messageSender" class="service.MessageSender" >
        <constructor-arg ref="jmsTemplate"/>
    </bean>

    <bean id="scheduledMessageSender" class="service.ScheduledMessageSender">
        <constructor-arg ref="messageSender"/>
    </bean>

    <task:scheduled-tasks>
        <task:scheduled ref="scheduledMessageSender" method="startMessageSender" fixed-delay="3000"/>
    </task:scheduled-tasks>

    <!--  Model  -->
    <bean id="messageBody" class="model.MessageBody">
        <property name="receivedMessageDao" ref="receivedMessageDao"/>
    </bean>

    <bean id="messageHeader" class="model.MessageHeader"/>

    <!--  Dao  -->
    <bean id="receivedMessageDao" class="dao.ReceivedMessageDao">
    <constructor-arg ref="dataSource"/>
    </bean>
    <!--  Util  -->
    <bean id="util" class="util.Util"/>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <context:property-placeholder location="jdbc.properties"/>
</beans>